@import helper._

@(userForm: Form[InputTypesForm])(implicit messages: Messages)

@main("Fake News Detection") {
    <body>

    <div class="sidenav">
        <a href="#option1"></a>
        <a href="#option2"></a>
        <a href="#option3"></a>
    </div>

    <section id="top">
        <div id="wrapper">
            <h1>Fake News Detector</h1>
        </div>
    </section>

    <div class="animation-area">
        <ul class="box-area">
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
            <li><img src="@routes.Assets.versioned("images/alert1.png")" width="28" height="22" /></li>
        </ul>
    </div>

    <div class="container">
        <form action="@routes.BasicController.analysisPost" method="post">
            <input id="search" name="news" type="text" placeholder="News">
            <select name="subject" id="drop">
                <option value="none">None</option>
                <option value="us">US News</option>
                <option value="world">World News</option>
                <option value="politics">Politics</option>
                <option value="Government_News">Government News</option>
                <option value="Middle_East">Middle East</option>
            </select>
            <select name="model" id="dropdown">
                <option value="rf">Random Forest</option>
                <option value="nb">Naive Bayes</option>
            </select>
            <button id= "button1" type="submit" >Scan</button>
        </form>

    </div>

    </body>
}